* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}
#stuff {
  display: flex;
}

#map {
  flex: 3;

  height: 100vh;
  width: 100vw;
}
#forms {
  padding: 40px 10px 10px 10px;
  flex: 1;
  background-color: blue;
}

#itinerary {
}

header {
  display: flex;
  position: absolute;
  width: 100vw;
  color: #fff;
  background-color: limegreen;
  z-index: 2;
}

header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.nav-item a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

/* Basic Flex Constructs */

.flex {
  display: flex;
}
